.home-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    overflow-x: hidden;
}
/* Sidebar */
.home-sidebar{
    width: 15%;
    height: 100%;
    color:white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* User details */
.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
}
.user-icon{
    width: 45px;
}
.create-note-btn{
    font-size: 1.5em;
    padding:10px 35px;
    cursor: pointer;
    background-color: var(--green2);
    color:white;
    border:none;
    border-radius: 5px;
    margin:50px 0;
    display: flex;
    align-items: center;
    transition: all 250ms;
}
.create-note-btn:hover{
    background-color: var(--darkGreen);
}
.plus-icon{
    width: 30px;
    margin-right: 5px;
}
/* Notes on the sidebar*/
.notes{
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x:hidden;
}
.notes::-webkit-scrollbar{
    width:8px;
}
.notes::-webkit-scrollbar-thumb{
    background-color: var(--dimWhite2);
    border-radius: 5px;
}
.note{
    width: 95%;
    min-height: 180px;
    margin:10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dimWhite);
    display: flex;
    flex-direction: column;
    position: relative;
}
.note-title{
    font-size: 1.2em;
    margin:5px 10px;
}
/* This div is used to view the note */
.view-note-div{
    width: 100%;
    min-height: 180px;
    border-radius: 0 0 5px 50px;
    display: flex;
    align-items: flex-end;
}
.last-update{
    font-size: .85em;
    margin: 5px 5px;
}
.more-options{
    width: 35px;
    height: 9px;
    padding:5px;
    border-radius: 5px;
    position: absolute;
    top:10px;
    right:5px;
    display: flex;
    justify-content: space-between;
    transition: all 250ms;
}
.more-options:hover{
    background-color: var(--dimWhite);
}
.more-options div{
    width: 9px;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}
.more-options-menu{
    position:absolute;
    top:30px;
    right:5px;
}
.delete-note-btn{
    height: 0px;
    overflow: hidden;
    font-size: 1em;
    cursor: pointer;
    background: var(--green2);
    color:white;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 5px black;
    font-family: 'Comme', sans-serif;
    transition: all 250ms;
}
.active-delete-note-btn{
    height: 30px;
    padding:5px;
}

/*  */
@media(max-width:1280px) and (max-height:1024px){
    .home-sidebar{
        width: 25vw;
    }
    .note-editor{
        width: 75vw;
    }
    .expanded-note-title, .note-content{
        width: 97%;
    }
    .text-transform-options{
        margin:1% 0 0 2%;
    }
    .close-note-btn{
        top:0px;
    }
}