.home-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    overflow-x: hidden;
}
/* Sidebar */
.home-sidebar{
    width: 15%;
    height: 100%;
    color:white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamburger-btn{
    display: none;
}
/* User details */
.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
}
.user-icon{
    width: 45px;
}
.create-note-btn{
    font-size: 1.5em;
    padding:10px 35px;
    cursor: pointer;
    background-color: var(--green2);
    color:white;
    border:none;
    border-radius: 5px;
    margin:50px 0;
    display: flex;
    align-items: center;
    transition: all 250ms;
}
.create-note-btn:hover{
    background-color: var(--darkGreen);
}
.plus-icon{
    width: 30px;
    margin-right: 5px;
}
/* Notes on the sidebar*/
.notes{
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x:hidden;
}
.notes::-webkit-scrollbar{
    width:8px;
}
.notes::-webkit-scrollbar-thumb{
    background-color: var(--dimWhite2);
    border-radius: 5px;
}
.note{
    width: 95%;
    /* min-height: 180px; */
    margin:10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dimWhite);
    display: flex;
    flex-direction: column;
    position: relative;
}
.note-title{
    font-size: 1.2em;
    margin:5px 10px;
}
/* This div is used to view the note */
.view-note-div{
    width: 100%;
    min-height: 180px;
    border-radius: 0 0 5px 50px;
    display: flex;
    align-items: flex-end;
}
.last-update{
    font-size: .85em;
    margin: 5px 5px;
}
.more-options{
    width: 35px;
    height: 9px;
    padding:5px;
    border-radius: 5px;
    position: absolute;
    top:10px;
    right:5px;
    display: flex;
    justify-content: space-between;
    transition: all 250ms;
}
.more-options:hover{
    background-color: var(--dimWhite);
}
.more-options div{
    width: 9px;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}
.more-options-menu{
    position:absolute;
    top:30px;
    right:5px;
}
.delete-note-btn{
    height: 0px;
    overflow: hidden;
    font-size: 1em;
    cursor: pointer;
    background: var(--green2);
    color:white;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 5px black;
    font-family: 'Comme', sans-serif;
    transition: all 250ms;
}
.active-delete-note-btn{
    height: 30px;
    padding:5px;
}
/* iPad Pro 12 inch landscape */
@media(max-width:1366px) and (max-height:1024px){
    .home-sidebar{
        width: 25vw;
    }
}
/*  */
@media(max-width:1280px) and (max-height:1024px){
    .home-sidebar{
        width: 25vw;
    }
    .note-editor{
        width: 75vw;
    }
    
}
/* iPad Landscape */
@media(max-width:1080px) and (max-height:810px){
    .home-sidebar{
        width: 30vw;
    }
}
/* iPad Pro 12 inch Portrait */
@media(max-width:1024px) and (max-height:1366px){
    .home-sidebar{
        width: 30vw;
    }
}
/* iPad Pro 11 inch Portrait */
@media(max-width:834px) and (max-height:1194px){
    .home-sidebar{
        width: 40vw;
        position: absolute;
        z-index: 1;
        left:-34vw;
        background-color: var(--black);
        box-shadow: 5px 0 5px black;
        transition: all 350ms;
    }
    .home-sidebar button, .notes{
        display: none;
    }
    .active-sidebar{
        left:0;
    }
    .active-sidebar button{
        display: flex;
    }
    .active-notes-list{
        display: flex;
    }
    .hamburger-btn{
        width: 35px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 45px;
    }
    .hamburger-btn div{
        width: 100%;
        height: 3px;
        background-color: white;
        
    }
}
/* iPad Air Portrait */
@media(max-width:820px) and (max-height:1180px){
    .hamburger-btn{
        margin-left: 42px;
    }
}
/* iPad Portrait */
@media(max-width:810px) and (max-height:1080px){
    .hamburger-btn{
        margin-left: 39px;
    }
}
/* iPad Mini Portrait*/
@media(max-width:768px) and (max-height:1024px){
    .hamburger-btn{
        margin-left: 23px;
    }
}
/* iPhone 14 Pro Max*/
@media(max-width:430px) and (max-height:932px){
    .home-sidebar{
        width: 100vw;
        left:-91vw;
    }
    .hamburger-btn{
        width: 30px;
        margin-left:150px
    }
    .active-sidebar{
        left:0;
    }
}
/* iPhone XS Max */
@media(max-width:414px) and (max-height:896px){
    .hamburger-btn{
        width: 30px;
        margin-left: 135px;
    }
}
/* iPhone 12/13 Pro*/
@media(max-width:390px) and (max-height:844px){
    .hamburger-btn{
        margin-left: 113px;
    }
}
/* iPhone X/XS */
@media(max-width:375px) and (max-height:812px){
    .home-sidebar{
        left:-90vw;
    }
    .active-sidebar{
        left:0;
    }
    .hamburger-btn{
        margin-left: 98px;
    }
}
/* S21FE */
@media(max-width:360px) and (max-height:800px){
    .home-sidebar{
        left:-89vw;
    }
    .active-sidebar{
        left:0;
    }
    .hamburger-btn{
        margin-left: 81px;
    }
    .note{
        min-height: 220px;
    }
}