.note-editor{
    width: 85vw;
    height: 100vh;
    background-color: var(--black);
    color:white;
}
.text-transform-options{
    width: 80%;
    margin: auto;
    background-color: var(--dimWhite);
    border-radius: 25px;
    padding:10px 0;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font-family{
    border-right:1px solid gray;
    padding:0 20px;
    margin:0 20px;
}
.font-family-select, .font-size-select{
    overflow: scroll;
    border:none;
    border-radius: 5px;
    padding:3px 10px;
    font-size: 1em;
}
.font-family-select:focus, .font-size-select:focus{
    outline:1.5px solid var(--green2)
}
.font-style{
    display: flex;
    border-left: 1px solid gray;
    margin-left: 20px;
}
.font-style-btns{
    font-size: 1.2em;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    margin:0 10px;
    padding:0 5px;
    transition: all 200ms;
}
.font-style-btns:hover{
    background-color: rgba(255, 255, 255, .2);
}
.active-font-style{
    background-color: var(--dimWhite3);
}
.expanded-note{
    width: 95%;
    height: 88vh;
    margin:auto;
    margin-top: 3%;
    overflow-y: hidden;
    position: relative;
}
.expanded-note-title, .note-content{
    width: 98.5%;
    margin:1% 0;
    font-size: 1.8em;
    background: none;
    color:white;
    padding:10px;
    border:1px solid white;
    border-radius: 5px;
}
.note-content{
    height: 68vh;
    font-size: 12px;
    font-family: 'Comme', sans-serif;
}
.expanded-note-title:focus, .note-content:focus{
    outline:none;
}
/* Close note button styles */
.close-note-btn{
    position: absolute;
    right:1.5rem;
    top:3em;
    border:none;
    border-radius: 50%;
    background: none;
    padding:10px;
    cursor: pointer;
    transition: all 500ms;
}
/* .close-note-btn::after{
    width: 100px;
    content:'Close Note';
    opacity: 0;
    position: absolute;
    top:0px;
    left:-28px;
    background-color: var(--dimWhite);
    font-size: 1.5em;
    color:white;
    border-radius: 10px;
    padding:2px;
    transition: all 500ms;
}
.close-note-btn:hover:after{
    opacity: 1;
    top:-35px;
} */
.close-note-btn:hover{
    background-color: var(--dimWhite);
}
.close-note-btn img{
    width: 35px;
    display: inline-block;
    vertical-align: middle;
}
/* Save note button */
.save-btn{
    width: 15%;
    font-size: 1.5em;
    background-color: var(--green2);
    color:white;
    border:none;
    padding:4px 0;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    left:10px;
    transition: all 250ms;
}
.save-btn:hover{
    background-color: var(--darkGreen);
}
.active-save-btn{
    bottom: 10px;
}
/* Classes for text edditing */
.fontSize10{
    font-size: 10px;
}
.fontSize12{
    font-size: 12px;
}
.fontSize14{
    font-size: 14px;
}
.fontSize16{
    font-size: 16px;
}
.fontSize18{
    font-size: 18px;
}
.fontSize20{
    font-size: 20px;
}
.fontSize22{
    font-size: 22px;
}
.fontSize24{
    font-size: 24px;
}
.fontSize26{
    font-size: 26px;
}
.fontSize28{
    font-size: 28px;
}
.fontSize30{
    font-size: 30px;
}
.fontSize32{
    font-size: 32px;
}
.fontSize34{
    font-size: 34px;
}
.fontSize36{
    font-size: 36px;
}
.fontSize38{
    font-size: 38px;
}
.fontSize40{
    font-size: 40px;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
/* iPad Pro 12 inch landscape */
@media(max-width:1366px) and (max-height:1024px){
    .note-editor{
        width: 85vw;   
    }
    .expanded-note-title, .note-content{
        width: 97%;
    }
    .close-note-btn{
        top:.4em;
    }
}
/* iPad Pro 11 inch Landscape*/
@media(max-width:1194px) and (max-height:834px){
    .note-content{
        height: 75vh;
    }
}
/*  */
@media(max-width:1280px) and (max-height:1024px){

    .note-editor{
        width: 75vw;
    }
    .expanded-note-title, .note-content{
        width: 97.5%;
    }
    .text-transform-options{
        margin:1% 0 0 2%;
    }
    .close-note-btn{
        top:.4em;
    }
}
/* iPad Air iPad  Landscape*/
@media(max-width:1180px) and (max-height:820px){
    .expanded-note-title, .note-content{
        width: 96%;
    }
    .note-content{
        height: 70vh;
    }
    .save-btn{
        width: 25%;
    }
    .active-save-btn{
        bottom:0;
    }
}
/* iPad Pro 12 inch portrait */
@media(max-width:1024px) and (max-height:1366px){
    .note-editor{
        width: 70vw;
    }
    .expanded-note-title, .note-content{
        width: 96%;
    }
    .expanded-note{
        height: 94%;
    }
    .note-content{
        min-height: 82vh;
        max-height: 82vh;
    }
    .close-note-btn{
        top:0;
        right: 0;
    }
    .save-btn{
        width: 30%;
    }
}
/* iPad Pro 11 inch Portrait */
@media(max-width:834px) and (max-height:1194px){
    .note-editor{
        width: 94vw;
        margin-left:6vw;
    }
    .text-transform-options{
        width: 70vw;
        justify-content: space-around;
    }
    .expanded-note{
        height: 93vh;  
    }
    .note-content{
        min-height: 80vh;
        max-height: 80vh;
    }
}
/* iPad Portrait */
@media(max-width:810px) and (max-height:1080px){
    .note-content{
        min-height: 78vh;
        max-height: 78vh;
    }
}
/* iPhone 14 Pro Max*/
@media(max-width:430px) and (max-height:932px){
    .close-note-btn{
        display: none;
    }
    .text-transform-options{
        width: 100%;
        border-radius: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .font-style{
        border:none;
        margin:auto;
        margin-top: 15px;
    }
    .expanded-note{
        margin-left: 20px;
    }
    .expanded-note-title, .note-content{
        width: 93%;
    }
    .note-content{
        min-height: 77vh;
        max-height: 77vh;
    }
    .save-btn{
        width: 45%;
    }
    .active-save-btn{
        bottom:10px;
    }
}
/* iPhone 12/13 Pro*/
@media(max-width:390px) and (max-height:844px){
    .note-content{
        min-height: 75vh;
        max-height: 75vh;
    }
}
/* iPhone X/XS */
@media(max-width:375px) and (max-height:812px){
    .font-family{
        margin-left:10px;
    }
    .expanded-note-title, .note-content{
        width: 92%;
    }
}
/* S21FE */
@media(max-width:360px) and (max-height:800px){
    .font-family{
        margin-left:0;
    }
    html, body{
        overflow-y:hidden;
    }
    .note-editor{
        max-height: 101dvh;
        border-bottom: none;
        overflow-y:hidden;
    }
    .expanded-note{
        height: 78vh;
    }
    .note-content{
        min-height: 58vh;
        max-height: 58vh;
        width: 85%;
        margin-left: 3%;
    }
    .expanded-note-title{
        width: 85%;
        margin-left: 3%;
    }
}